@charset "UTF-8";

@font-face {
    font-family: 'Infectious Halloween';
    src: url('../fontes/infectious_halloween/InfectiousHalloween-Regular.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
    background-image: url('../imagens/halloween.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #ffa500;
    text-align: center;
    font-size: 3.3em;
    font-family: 'Infectious Halloween';
    padding: 30px;
    letter-spacing: 0.1cm;
}

h2{
    font-size: 2em;
    font-family: 'Infectious Halloween';
    background: linear-gradient(to right, #ad7409, transparent);
    padding: 2px;
    margin: 8px;
}

main{
    background-color: rgba(0, 0, 0, 0.425);
    padding: 15px;
    height: 400px;
    max-width: 800px;
    min-width: 350px;
    margin: auto;
    overflow-y: auto;
    box-shadow: 2px 4px 10px #000;
}

p{
    color: #ffa500;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-indent: 40px;
}

.img{
    text-align: center;
    display: block; 
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: yellow;
}

.pg{
    font-size: 20px;
    color: #ffa500;
    text-decoration: none;
    text-align: center;
}

.pg:hover{
    color: #ffa600b7;
    text-decoration: underline;
}